<head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<% flash.each do |type, notice| %>
  <div class="alert alert-success" role="alert">
    <strong><%= notice %></strong>
  </div>
<% end %>

<article class="message is-dark">
  <div class="message-body">
  <strong>  <%= @question.question_title %></strong>
  <br>
    <p><%= @question.question_content %></p>
    <br>
    <em><%= @question.lab %></em>
</article>


<% if @answers != nil %>
  <% @answers.each do |answer| %>
  <div class=".d-sm-flex p-2 bd-highlight">
  <div class="list-group">
      <a class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <!-- <h5 class="mb-1">List group item heading</h5> -->
          <!-- <small>3 days ago</small> -->
        </div>
        <p class="mb-1"><%= answer.answer_content %></p>
        <% @user = User.find_by(id: answer.user_id) %>
        <small>Answered by, <%= @user.username %></small>
       </a>
       </div>
       </div>
       <% end %>
       <% end %>


<div class="container">
	<div class="row">
		<div class="span10 well" style="padding-bottom:0">
            <form accept-charset="UTF-8" action="/saveanswer/#{@question.id}" method="POST">
              <input type="hidden" name="authenticity_token" value="cP5cLA3RElCDN+wv8/gQtMcSsXVUZuH4VxHHquY/QS6Pp43xmxF6BlscbdEt/2JHOMNM10pyIo1NPrjRCt6+gw==">
                <textarea class="span9" id="new_message" name="answer_content"
                placeholder="Type in your message" rows="8"></textarea>
                <br>
                <br>
                <button class="btn btn-info" type="submit">Submit Answer</button>
            </form>
        </div>
	</div>
</div>
