<% flash.each do |type, notice| %>
  <div class="alert alert-success" role="alert">
    <strong><%= notice %></strong>
  </div>
<% end %>

<article class="message is-dark">
  <div class="message-body">
  <strong>  <%= @question.question_title %></strong>
  <br>
    <p><%= @question.question_content %></p>
    <br>
    <em><%= @question.lab %></em>
</article>


<% if @answers != nil %>
  <% @answers.each do |answer| %>
  <div class=".d-sm-flex p-2 bd-highlight">
  <div class="list-group">
      <a class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <!-- <h5 class="mb-1">List group item heading</h5> -->
          <!-- <small>3 days ago</small> -->
        </div>
        <p class="mb-1"><%= answer.answer_content %></p>
        <% @user = User.find_by(id: answer.user_id) %>
        <small>Answered by, <%= @user.username %></small>
       </a>
       </div>
       </div>
       <% end %>
       <% end %>


<%= form_tag("/saveanswer/#{@question.id}") do %>
  <p>
    <%= label_tag "Your answer:" %>
    <br>
    <%= text_area_tag "answer_content", nil, rows: 10, cols: 55 %>
  </p>
  <%= submit_tag "Submit Answer" %>
<% end %>
