<% flash.each do |type, notice| %>
  <div class="alert alert-success" role="alert">
    <strong><%= notice %></strong>
  </div>
<% end %>


<strong><h1><%= @question.question_title %></h1></strong>
<em><h2><%= @question.lab %></h2></em>
<br>
<br>
<h2><%= @question.question_content %></h2>
<br>
<br>
<h4>Answers</h4>
<% if @answers != nil %>
  <% @answers.each do |answer| %>
           <ul>
             <li>
               <div class="col-4 mt-4 ">
                  <div class="jumbotron style-06">
                  <span class="display-5">
                  <%= answer.answer_content %>
                  </span>
               </div>
              </div>

           </li>
           </ul>
       <% end %>
       <% end %>


<%= form_tag("/saveanswer/#{@question.id}") do %>
  <p>
    <%= label_tag "Your answer:" %>
    <br>
    <%= text_area_tag "answer_content", nil, rows: 10, cols: 55 %>
  </p>
  <%= submit_tag "Submit Answer" %>
<% end %>
