<strong><h1>Ask your question?</h1></strong>

<%= form_tag('/savequestion') do %>
  <p>
    <%= label_tag "Lab name:" %>
    <%= text_field_tag "lab" %>
    <br>
    <%= label_tag "Question:" %>
    <%= text_field_tag "question_title" %>
    <br>
    <%= label_tag "Describe the problem:" %>
    <br>
    <%= text_area_tag "question_content", nil, rows: 20, cols: 45 %>
  </p>
  <%= submit_tag "Save" %>
<% end %>
