<br>
<br>
<div id="center">
  <div id="all-notes">
    <body>
      <h1><%= "#{@user}'s Notes" %></h1>
			<h3><%= @dynamic_welcome %></h3>
        <ul>
      <% @current_user_notes.each do |note| %>
          <li>
            <h2><%=note.title%></h2>
            <a href="notes/<%= note.id%>"
              <p><%=note.content%></p>
            </a>
          </li>
          <% end %>
        </ul>
      </body>
    </div>
  </div>
