<style>
	#all-notes ul,li{
  list-style:none;
  overflow:auto;
}
#all-notes ul{
  overflow:hidden;
  padding:3em;
}
#all-notes ul li a{
  text-decoration:none;
  color:#000;
  background:#FCFF4B;
  display:block;
  overflow:auto;
  height:20em;
  width:20em;
  padding:1.3em;
}
#all-notes ul li{
  margin:1.6em;
  float:left;
}
#all-notes li h2{
  color: #6A6A6A;
}
#all-notes h1{
  text-align: center;
}
</style>
<br>
<br>
<div id="center">
  <div id="all-notes">
    <body>
      <h1><%= "#{@user}'s Notes" %></h1>
      <% if @current_user_notes.empty? == true %>
      <h3><%= erb :no_message %></h3>
      <% else %>
        <ul>
      <% @current_user_notes.each do |note| %>
          <li>
            <h2><%=note.title%></h2>
            <a href="notes/<%= note.id%>"
              <p><%=note.content%></p>
            </a>
          </li>
          <%end%>
          <%end%>
        </ul>
      </body>
    </div>
  </div>
