
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Here are all your flashcards</h1>
    <p class="lead"><%= @greeting %></p>
  </div>
</div>

<% if @current_user_flashcards.empty? == true %>
  <%= redirect_to error_path%>
  <% else %>
<% @current_user_flashcards.each do |card| %>
<a href="/flashcards/<%= card.id %>">
  <div>
    <p> <%= card.front %> </p>
    <br>
    <p> <%= card.back %> </p>
  </div>
  </a>
  <br>
  <br>
  <% end %>
  <% end %>
