<h1>Your Flashcards</h1>

<% flash.each do |type, notice| %>
  <div class="alert alert-primary" role="alert">
    <strong><%= notice %></strong>
  </div>
<% end %>

  <%= @card.front %>
  <br>
  <%= @card.back %>

  <%= link_to "Edit", edit_flashcard_path(@card), class:"button" %>
  <%= link_to "Delete", flashcard_path(@card), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>
